 # Кодировка сервера
 AddDefaultCharset utf-8
 
 # Запрет отображения содержимого каталогов
 #Options -Indexes

 # Открывать файлы без указания расширения
 #Options +Multyview

 # Переопределение индексного файла
 # DirectiryIndex index.php

 # Скрывает файлы из листинга
 # IndexIgnire *.rar *.zip 

 # Order Allow,Deny
 #Allow from all
 # Deny yandex.ru megafon.ru digitaltarget.ru rt.ru mobilebanner.ru

RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_URI} !^/public/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^$ /public/ [L]
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1 [L]

RewriteRule ^/payment(.*)$ /public/$1 [L]

# Prevent direct access to the "public" folder - redirect to root
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /public/
# RewriteRule ^public/(.*) /$1 [R=302,L]

# Redirect Trailing Slashes If Not A Folder...
# - but look for the file in the "public" folder
#   (ensure we are not already in the "public" folder)
# RewriteCond %{REQUEST_URI} !^/public/
# RewriteCond %{DOCUMENT_ROOT}/public/$1 !-d
# RewriteRule ^(.*)/$ /$1 [R=302,L]

# Rewrite "everything" to the "public" subdirectory if not already
# This ignores existing files/dirs in the document root
# RewriteCond %{REQUEST_URI} ^/(.*)
# RewriteRule !^public/ public/%1

# Handle Front Controller... (as before)
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^ index.php [L]

# RewriteRule ^base.js$ - [F]